#left {
    width:250px;
    height: 500px;
    background:red;
    float:left;
}

#right {
    width:250px;
    height: 500px;
    background:green;
    float:right;
}

#up {
    width:100%;
    height: 200px;
    background:black;
}

#center {
    width:100%;
    height:200px;
    background:blue;
    padding-top: 100px
}